@import '../../style.scss';

// ** Text Input
.field {
	display: block;
	width: 100%;
	&:not(:last-of-type) {
		margin-bottom: 16px;
	}
}
label {
	font-weight: 700;
	font-size: 12px;
	line-height: 15.12px;
	margin-bottom: 8px;
}

input[type='text'] {
	all: unset;
	display: block;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid $medium-grey-25;

	text-transform: capitalize;

	font-weight: 500;
	font-size: 13px;
	line-height: 23px;

	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;

	margin-top: 8px;

	min-width: 200px;
	width: 80%;
	max-width: 350px;

	::placeholder {
		opacity: 0.25;
	}
}
.error {
	border-color: $red;
}
p {
	color: $red;
}