:root {
	--check-icon: '../../assets/icon-check.svg';

	--dark-bg: #20212c;
	--medium-grey-25: #828fa340;
	--main-purple: #635fc7;
	--main-purple-25: #635fc740;
}

.checkbox-wrapper {
	width: 100%;
	background-color: var(--dark-bg);
	border-radius: 4px;
	padding: 12px;
	padding-top: 7px;
}
.checkbox-wrapper:not(:last-of-type) {
	margin-bottom: 8px;
}
.checkbox-wrapper:hover {
	background-color: var(--main-purple-25);
}

input[type='checkbox'] {
	/* strip off browser styles while maintaining accessibility */
	-webkit-appearance: none;
	appearance: none;

	/*  Custom Design */
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	border: 1px solid var(--medium-grey-25);
	margin: unset;
	margin-right: 16px;

	outline: none;
	cursor: pointer;

	position: relative;
	vertical-align: middle;
}
input[type='checkbox']:checked {
	background-color: var(--main-purple);
	position: relative;
}
input[type='checkbox']:checked::before {
	content: url('../../assets/icon-check.svg');
	position: absolute;
	right: 2px;
	top: -2px;
}

label {
	position: relative;
	vertical-align: middle;
	display: inline-block;
}
label.checked {
	text-decoration: line-through;
	opacity: 0.5;
}
